<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Usage

The Resources Plugin handles the copying of project resources to the output directory. The following examples describe the basic usage of the Plugin.

To handle filtering this version of Maven Resources Plugin uses [Maven Filtering](http://maven.apache.org/shared/maven-filtering/index.html) ${mavenFilteringVersion}.

Copy resources for the main source code
---------------------------------------

```shell
mvn resources:resources
```

Upon executing this command, the resources for your main source code, as specified by the &lt;resources&gt; element, will be copied to your main build output directory. This does not affect the resources for your test code.

Moreover, this goal is bound to the `process-resources` phase.

Copy resources for the unit tests
---------------------------------

```shell
mvn resources:testResources
```

Like the first goal this goal copies resources, but this time for your test source code to your test build output directory, as specified by the &lt;testResources&gt; element. Also, this does not affect the resources for the main source code.

Furthermore, this is bound to the `process-test-resources` phase.

Copy resources specified by a &lt;resources&gt; configuration element
---------------------------------------------------------------------

```shell
mvn resources:copy-resources
```

Rather than using the &lt;resources&gt; or &lt;testResources&gt; elements or their defaults, this uses a &lt;resources&gt; element that is specified as part of the plugin configuration.

See the examples for how to configure this. See the Maven Model for how to write &lt;resources&gt; elements.
